*.bd filter=lfs diff=lfs merge=lfs -text
/home/diana.z/hack/theories_extraction_agent/theories_per_paper_checkpoint.json filter=lfs diff=lfs merge=lfs -text
theories_per_paper.json filter=lfs diff=lfs merge=lfs -text
